# LncATLAS
Publication: LncATLAS database for subcellular localization of long noncoding RNAs (2017) David Mas-Ponte, Joana Carlevaro-Fita, Emilio Palumbo, Toni Hermoso Pulido, Roderic Guigo, and Rory Johnson. RNA 23:1080–1087

Publication [online](https://rnajournal.cshlp.org/content/23/7/1080)

Data file: 2022-09-29_lncATLAS_all_data_RCI.csv

In [5]:
ATLAS_DIR='/Users/jasonmiller/WVU/MDPI/LncAtlas/'
ATLAS_DATA='2022-09-29_lncATLAS_all_data_RCI.csv'
infile = ATLAS_DIR+ATLAS_DATA

## Raw data

In [6]:
import pandas as pd
df=pd.read_csv(infile)
df

,ENSEMBL ID,Data Source,Data Type,Value,Gene Name,Coding Type,Biotype
0,ENSG00000000003,A549,CNRCI,1.08068,TSPAN6,coding,coding
1,ENSG00000000003,GM12878,CNRCI,NaN,TSPAN6,coding,coding
2,ENSG00000000003,H1.hESC,CNRCI,1.85734,TSPAN6,coding,coding
3,ENSG00000000003,HeLa.S3,CNRCI,1.86839,TSPAN6,coding,coding
4,ENSG00000000003,HepG2,CNRCI,2.29436,TSPAN6,coding,coding
...,...,...,...,...,...,...,...
714515,ENSG00000283125,NCI.H460,CNRCI,NaN,RP11-299P2.2,nc,nc
714516,ENSG00000283125,NHEK,CNRCI,NaN,RP11-299P2.2,nc,nc
714517,ENSG00000283125,SK.MEL.5,CNRCI,NaN,RP11-299P2.2,nc,nc
714518,ENSG00000283125,SK.N.DZ,CNRCI,NaN,RP11-299P2.2,nc,nc
714519,ENSG00000283125,SK.N.SH,CNRCI,NaN,RP11-299P2.2,nc,nc

In [23]:
#print('Coding Type')   # same as Biotype in every case
#print(df['Coding Type'].value_counts())
print('Biotype')
print(df['Biotype'].value_counts())

Biotype
coding    395940
nc        318580
Name: Biotype, dtype: int64

## Filtered data

In [19]:
# Filter against Value=NaN
qf = df.loc[~df['Value'].isnull()]
qf

,ENSEMBL ID,Data Source,Data Type,Value,Gene Name,Coding Type,Biotype
0,ENSG00000000003,A549,CNRCI,1.080680,TSPAN6,coding,coding
2,ENSG00000000003,H1.hESC,CNRCI,1.857340,TSPAN6,coding,coding
3,ENSG00000000003,HeLa.S3,CNRCI,1.868390,TSPAN6,coding,coding
4,ENSG00000000003,HepG2,CNRCI,2.294360,TSPAN6,coding,coding
5,ENSG00000000003,HT1080,CNRCI,0.866395,TSPAN6,coding,coding
...,...,...,...,...,...,...,...
714492,ENSG00000283122,K562,RCIno,-0.004249,HYMAI,nc,nc
714493,ENSG00000283122,K562,RCInp,1.323620,HYMAI,nc,nc
714494,ENSG00000283122,MCF.7,CNRCI,-3.544320,HYMAI,nc,nc
714499,ENSG00000283122,SK.N.SH,CNRCI,-2.611430,HYMAI,nc,nc
714509,ENSG00000283125,K562,RCIc,-3.876190,RP11-299P2.2,nc,nc

In [20]:
print('Biotype')
print(qf['Biotype'].value_counts())

Biotype
coding    222508
nc         38766
Name: Biotype, dtype: int64

In [24]:
coding = qf.loc[qf['Biotype']=='coding']
noncoding = qf.loc[qf['Biotype']=='nc']