# Our first Neural Network

In [4]:
import numpy as np
import pandas as pd

nc2 = pd.read_csv ('ncRNA.2mer.features.csv')
pc2 = pd.read_csv ('pcRNA.2mer.features.csv')

In [12]:
nc2['class']=0
pc2['class']=1
rna2mer=pd.concat((nc2,pc2),axis=0)
rna2mer

,seqnum,seqlen,AA,AC,AG,AT,CA,CC,CG,CT,GA,GC,GG,GT,TA,TC,TG,TT,class
0,1,535,39,21,38,30,31,48,11,44,31,30,26,28,27,36,40,54,0
1,2,590,37,21,47,27,43,55,9,51,35,42,55,26,18,40,46,37,0
2,3,629,61,30,53,41,48,41,5,45,48,30,31,32,28,38,51,46,0
3,4,1319,109,68,127,77,110,75,16,82,106,79,100,58,57,61,100,93,0
4,5,323,16,21,26,12,28,23,4,21,24,23,31,19,7,9,37,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20147,20148,297,17,24,13,29,22,28,6,36,5,18,6,7,39,22,11,13,1
20148,20149,1378,118,152,47,99,142,147,31,153,36,55,25,21,119,119,34,79,1
20149,20150,1812,170,166,82,132,190,212,40,180,48,81,30,33,142,163,40,102,1
20150,20151,525,18,5,34,46,5,4,8,20,34,13,80,59,45,15,65,73,1
20151,20152,1141,90,98,40,98,111,136,35,109,43,51,31,12,81,106,31,68,1

In [18]:
normalized=rna2mer.div(rna2mer.seqlen, axis=0)
normalized

,seqnum,seqlen,AA,AC,AG,AT,CA,CC,CG,CT,GA,GC,GG,GT,TA,TC,TG,TT,class
0,0.001869,1.0,0.072897,0.039252,0.071028,0.056075,0.057944,0.089720,0.020561,0.082243,0.057944,0.056075,0.048598,0.052336,0.050467,0.067290,0.074766,0.100935,0.000000
1,0.003390,1.0,0.062712,0.035593,0.079661,0.045763,0.072881,0.093220,0.015254,0.086441,0.059322,0.071186,0.093220,0.044068,0.030508,0.067797,0.077966,0.062712,0.000000
2,0.004769,1.0,0.096979,0.047695,0.084261,0.065183,0.076312,0.065183,0.007949,0.071542,0.076312,0.047695,0.049285,0.050874,0.044515,0.060413,0.081081,0.073132,0.000000
3,0.003033,1.0,0.082638,0.051554,0.096285,0.058378,0.083397,0.056861,0.012130,0.062168,0.080364,0.059894,0.075815,0.043973,0.043215,0.046247,0.075815,0.070508,0.000000
4,0.015480,1.0,0.049536,0.065015,0.080495,0.037152,0.086687,0.071207,0.012384,0.065015,0.074303,0.071207,0.095975,0.058824,0.021672,0.027864,0.114551,0.065015,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20147,67.838384,1.0,0.057239,0.080808,0.043771,0.097643,0.074074,0.094276,0.020202,0.121212,0.016835,0.060606,0.020202,0.023569,0.131313,0.074074,0.037037,0.043771,0.003367
20148,14.621916,1.0,0.085631,0.110305,0.034107,0.071843,0.103048,0.106676,0.022496,0.111030,0.026125,0.039913,0.018142,0.015239,0.086357,0.086357,0.024673,0.057329,0.000726
20149,11.120309,1.0,0.093819,0.091611,0.045254,0.072848,0.104857,0.116998,0.022075,0.099338,0.026490,0.044702,0.016556,0.018212,0.078366,0.089956,0.022075,0.056291,0.000552
20150,38.382857,1.0,0.034286,0.009524,0.064762,0.087619,0.009524,0.007619,0.015238,0.038095,0.064762,0.024762,0.152381,0.112381,0.085714,0.028571,0.123810,0.139048,0.001905
20151,17.661700,1.0,0.078878,0.085890,0.035057,0.085890,0.097283,0.119194,0.030675,0.095530,0.037686,0.044698,0.027169,0.010517,0.070990,0.092901,0.027169,0.059597,0.000876

In [29]:
# We normalized every K-mer count by the seqlen in that same row.
# Just check that one value (top left) comes out as expected.
kmer_count=rna2mer.iloc[0].loc['AA']
seqlen=rna2mer.iloc[0].loc['seqlen']
expected_value=kmer_count/seqlen
normalized.iloc[0].loc['AA'] == expected_value

True

In [34]:
normalized.drop('seqnum',axis=1,inplace=True)
normalized.drop('seqlen',axis=1,inplace=True)
normalized

,AA,AC,AG,AT,CA,CC,CG,CT,GA,GC,GG,GT,TA,TC,TG,TT,class
0,0.072897,0.039252,0.071028,0.056075,0.057944,0.089720,0.020561,0.082243,0.057944,0.056075,0.048598,0.052336,0.050467,0.067290,0.074766,0.100935,0.000000
1,0.062712,0.035593,0.079661,0.045763,0.072881,0.093220,0.015254,0.086441,0.059322,0.071186,0.093220,0.044068,0.030508,0.067797,0.077966,0.062712,0.000000
2,0.096979,0.047695,0.084261,0.065183,0.076312,0.065183,0.007949,0.071542,0.076312,0.047695,0.049285,0.050874,0.044515,0.060413,0.081081,0.073132,0.000000
3,0.082638,0.051554,0.096285,0.058378,0.083397,0.056861,0.012130,0.062168,0.080364,0.059894,0.075815,0.043973,0.043215,0.046247,0.075815,0.070508,0.000000
4,0.049536,0.065015,0.080495,0.037152,0.086687,0.071207,0.012384,0.065015,0.074303,0.071207,0.095975,0.058824,0.021672,0.027864,0.114551,0.065015,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20147,0.057239,0.080808,0.043771,0.097643,0.074074,0.094276,0.020202,0.121212,0.016835,0.060606,0.020202,0.023569,0.131313,0.074074,0.037037,0.043771,0.003367
20148,0.085631,0.110305,0.034107,0.071843,0.103048,0.106676,0.022496,0.111030,0.026125,0.039913,0.018142,0.015239,0.086357,0.086357,0.024673,0.057329,0.000726
20149,0.093819,0.091611,0.045254,0.072848,0.104857,0.116998,0.022075,0.099338,0.026490,0.044702,0.016556,0.018212,0.078366,0.089956,0.022075,0.056291,0.000552
20150,0.034286,0.009524,0.064762,0.087619,0.009524,0.007619,0.015238,0.038095,0.064762,0.024762,0.152381,0.112381,0.085714,0.028571,0.123810,0.139048,0.001905
20151,0.078878,0.085890,0.035057,0.085890,0.097283,0.119194,0.030675,0.095530,0.037686,0.044698,0.027169,0.010517,0.070990,0.092901,0.027169,0.059597,0.000876

In [ ]:
# Geron Chapter 10
import tensorflow as tf
from tensorflow import keras

mlp = keras.models.Sequential([
    keras.layers.Flatten(input_shape=[28,28]),
    keras.layers.Dense(300,activation="relu"),
    keras.layers.Dense(100,activation="relu"),
    keras.layers.Dense( 10,activation="softmax")
])
mlp.summary()