# Statistical analysis of attention temperatures

In [1]:
import numpy as np
import pandas as pd

In [2]:
FILEPATH='/home/jrm/Adjeroh/Naved/CP_80K/'
CLASSPATH='Output5/'
NUCLEUS_FILE='Process100_Nucleus.csv'
ATTENTION_FILE='attention_avg_temp_per_nucleus.csv'

In [3]:
FILENAME=FILEPATH+CLASSPATH+NUCLEUS_FILE
nuc_all = pd.read_csv(FILENAME)
nuc_all.shape

(53535, 650)

In [5]:
PATCH_NUM='ImageNumber'
OBJECT_NUM='ObjectNumber'
KEYS=[PATCH_NUM,OBJECT_NUM]
AREA='AreaShape_Area'
FIELD_X='Location_Center_X'
FIELD_Y='Location_Center_Y'
IDCOL='ID'
columns=[PATCH_NUM,OBJECT_NUM,AREA,FIELD_X,FIELD_Y]
nuc_df=nuc_all[columns]
temp_df=pd.DataFrame(columns=[IDCOL])
temp_df[IDCOL]=nuc_df[PATCH_NUM].astype(str)+'.'+nuc_df[OBJECT_NUM].astype(str)
nucid_df=pd.concat( [temp_df,nuc_df], axis=1 )
nucid_df.drop(columns=KEYS,inplace=True)
nucid_df

            ID  AreaShape_Area  Location_Center_X  Location_Center_Y
0          1.1             257         179.680934           5.241245
1          1.2            1230         192.229268          31.889431
2          1.3             582         225.123711          38.482818
3          1.4             833         191.584634          60.704682
4          1.5             619         217.935380         122.276252
...        ...             ...                ...                ...
53530  1590.33             218         218.536697         294.834862
53531   1591.1             196          43.770408         104.454082
53532   1591.2             406         104.073892         125.798030
53533   1591.3             903         124.060908         161.367663
53534   1591.4             553         140.958409         193.748644

[53535 rows x 4 columns]

In [8]:
FILENAME=FILEPATH+CLASSPATH+ATTENTION_FILE
att_df = pd.read_csv(FILENAME)
print(att_df.columns)
att_df.rename(columns={' ObjectNumber':OBJECT_NUM,' AvgTemp':'AvgTemp'},inplace=True)

Index(['ImageNumber', ' ObjectNumber', ' AvgTemp'], dtype='object')

In [9]:
temp_df=pd.DataFrame(columns=[IDCOL])
temp_df[IDCOL]=att_df[PATCH_NUM].astype(str)+'.'+att_df[OBJECT_NUM].astype(str)
attid_df=pd.concat( [temp_df,att_df], axis=1 )
attid_df

           ID  ImageNumber  ObjectNumber   AvgTemp
0       838.1          838             1  0.157873
1       838.2          838             2  0.222301
2       838.3          838             3  0.228192
3       838.4          838             4  0.462886
4       838.5          838             5  0.614526
...       ...          ...           ...       ...
53530  469.46          469            46  0.769637
53531  469.47          469            47  0.982786
53532  469.48          469            48  0.856241
53533  469.49          469            49  0.622342
53534  469.50          469            50  0.730541

[53535 rows x 4 columns]

In [10]:
combo_df = pd.concat( [attid_df,nucid_df], axis=1)
combo_df

,ID,ImageNumber,ObjectNumber,AvgTemp,ID,AreaShape_Area,Location_Center_X,Location_Center_Y
0,838.1,838,1,0.157873,1.1,257,179.680934,5.241245
1,838.2,838,2,0.222301,1.2,1230,192.229268,31.889431
2,838.3,838,3,0.228192,1.3,582,225.123711,38.482818
3,838.4,838,4,0.462886,1.4,833,191.584634,60.704682
4,838.5,838,5,0.614526,1.5,619,217.935380,122.276252
...,...,...,...,...,...,...,...,...
53530,469.46,469,46,0.769637,1590.33,218,218.536697,294.834862
53531,469.47,469,47,0.982786,1591.1,196,43.770408,104.454082
53532,469.48,469,48,0.856241,1591.2,406,104.073892,125.798030
53533,469.49,469,49,0.622342,1591.3,903,124.060908,161.367663
53534,469.50,469,50,0.730541,1591.4,553,140.958409,193.748644